<section class="relative hero pt-12 ">
  <div class="relative from-blue-900 to-transparent pt-10">
    <div class="container mx-auto px-6 py-12 text-white flex flex-col">
      <h1 class="text-3xl font-bold mx-auto hero-title text-white">Wujudkan Perjalananmu dengan Caramu</h1>
      <div class="bg-transparent rounded-lg mt-6 p-6 text-white box-border">
        <div class="flex items-center justify-between space-x-4 border-b-2 border-solid pb-8 box-border text-gray-300">

          @for (item of menuItems; track $index) {

            <button class="rounded-3xl text-black flex flex-col justify-center items-center gap-2 plr16 plb8 h-full mh-80"
            [ngClass]="{
              'bg-white': item.isActive,
              'text-black': item.isActive,
              'hover:border' : !item.isActive,
              'hover:border-solid' : !item.isActive,
            }">
              <span class="icon">
                <img [src]="item.path" alt="{{ item.label }}" [title]="item.label">
              </span>
              <span class="font-bold " [ngClass]="item.isActive ? 'text-black' : 'text-gray-300' ">
                {{ item.label }}
              </span>
            </button>

          }

          <!-- <button class="py-2 px-4 rounded-3xl hover:border hover:border-solid flex flex-col justify-center gap-2">
            <span class="icon">
              <img src="icon/train.png" alt="">
            </span>
            <span class="font-bold">
              Tiket Kereta Api
            </span>
          </button> -->



        </div>

        <div class="flex flex-row justify-between items-center pt-8">
          <div class="flex gap-4 font-bold">
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md">Sekali Jalan / Pulang Pergi</button>
            <button class="bg-black bg-opacity-50 text-white px-4 py-2 rounded-md ">Multi-kota</button>
          </div>

          <div class="flex gap-4 items-center right-form">
            <div class="text-gray-700 bg-transparent bg-opacity-50 w-rp">
              <select title="Class Selection" class="border border-white rounded-md shadow-sm p-2 bg-opacity-50">
                <option>Economy</option>
                <option>Business</option>
                <option>First Class</option>
              </select>
            </div>
            <div class="text-gray-700 bg-gray bg-opacity-50 w-rp">
              <select title="Class Selection" class="border border-white rounded-md shadow-sm p-2 bg-opacity-50">
                <option>Economy</option>
                <option>Business</option>
                <option>First Class</option>
              </select>
            </div>
          </div>
        </div>




        <div class="flex justify-between gap-4 ">

          <div class="mt-6 grid grid-cols-1 md:grid-cols-3 mr-2 flex-auto wrapper-form">
            <div>
              <label class="block text-sm font-semibold mb-2 text-white">Kota, tujuan, atau nama hotel</label>
              <input type="text" placeholder="Lembang" class="w-full p-2 border bg-white input-1" />
            </div>
            <div>
              <label class="block text-sm font-semibold mb-2 text-white">Tanggal Check-in & Check-out</label>
              <input type="text" placeholder="24 Jan 2025 - 25 Jan 2025" class="w-full p-2 border bg-white input-2" />
            </div>
            <div >
              <label class="block text-sm font-semibold mb-2 text-white">Tamu dan Kamar</label>
              <div class="wrapper-input relative">
                <input type="text" placeholder="1 Dewasa, 0 Anak, 1 Kamar" class="w-full p-2 border bg-white input-3" />
                <button class="absolute bg-orange-500 text-white btn-search" (click)="onSearch()">Cari</button>

              </div>
            </div>
          </div>


        </div>



      </div>
    </div>
  </div>
</section>
